<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->

    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="O que você procura ...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">NAVEGAÇÃO PRINCIPAL</li>

      <li *ngFor="let menu of _sidebar.menu" routerLinkActive="active" class="treeview">
        <a [routerLink]="[menu.url]">
          <i [class]="menu.icons"></i> <span>{{ menu.title }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="{treeview-menu: menu.submenu.length > 0}">
          <li *ngFor="let submenu of menu.submenu" routerLinkActive="active">
            <a [routerLink]="[submenu.url]"><i [class]="submenu.icons"></i> {{ submenu.title }}</a>
          </li>
        </ul>
      </li>
    </ul>

  </section>
  <!-- /.sidebar -->

</aside>